@import '../../marketplace.css';

/* ModalInMobile is visible by default */
.root {
  width: 100%;
  position: sticky;
  top: 70px;
  background: #FCFCFC;
  z-index: 1;
  box-shadow: 0 12px 6px 6px #FCFCFC;
  padding: 20px 0;
  /* margin-left: -8px; */
}

/* Content is hidden in Mobile layout */
.modalHidden {
  display: none;
}

.modalContainer {
  @apply --marketplaceModalInMobileBaseStyles;

  @media (--viewportMedium) {
    flex-basis: 576px;
  }
}

.modalContent {
  width: 100%;

  @media (--viewportMedium) {
    height: 100%;

    /* ModalInMobile content should work with box-shadows etc. */
    overflow: visible;
  }
}
