@import '../../../marketplace.css';

.heading {
  margin: 5px 0 18px 0;

  @media (--viewportMedium) {
    margin: 2px 0 23px 0;
  }
}

p {
  font-size: 16px!important;
}

.content {
  @media (--viewportLarge) {
    max-width: 100%;
  }
}
