@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.card {
  @apply --marketplaceInputStyles;

  /* Layout */
  padding: 8px 0 16px 0;
  height: 36px;
  margin: 16px 0 14px 0;

  /* Border */
  border-bottom-color: var(--attentionColor);

  @media (--viewportMedium) {
    height: 35px;
  }
  @media (--viewportLarge) {
    height: 42px;
    padding: 6px 0 14px 0;
  }
}

.cardSuccess {
  border-bottom-color: var(--successColor);
}

.cardError {
  border-bottom-color: var(--failColor);
}

.paymentHeading,
.messageHeading,
.timeHeading,
.occasionHeading,
.attendanceHeading
{
  margin: 16px 0 14px 0;
  color: var(--matterColorAnti);

  @media (--viewportMedium) {
    margin: 32px 0 16px 0;
  }
}

.messageLabel,
.timeLabel,
.occasionLabel,
.attendanceLabel 
{
  margin: 0 0 5px 0;

  @media (--viewportMedium) {
    margin: 0 0 6px 0;
  }
}

.messageOptional {
  color: var(--matterColorAnti);
}


.message,
.time,
.occasion,
.attendance
{
  border-bottom-color: var(--matterColorAnti);
	margin-top: 16px;
	margin-bottom: 16px;
}

.submitContainer {
  margin-top: auto;

  @media (--viewportLarge) {
    margin-top: 32px;
  }
}

.paymentInfo {
  @apply --marketplaceH5FontStyles;
  color: var(--matterColorAnti);
  text-align: center;
  padding: 0 42px;
  margin: 28px 0 0 0;

  @media (--viewportLarge) {
    /* TODO this is ugly overwrite to fix unconsistent font styles */
    font-size: 14px;
    padding: 0;
  }
}

.validTime,
.validAttendance {
  color: var(--matterColorAnti);
	font-size: 15px;
	margin-bottom: 16px;
	margin-top: 0px;
}


.submitButton {
  margin-top: 22px;

  @media (--viewportMedium) {
    margin-top: 26px;
  }
  @media (--viewportLarge) {
    margin-top: 17px;
  }
}

.missingStripeKey {
  color: var(--failColor);
}
