@import '../../marketplace.css';

.hero {
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 32px;

  @media (--viewportMedium) {
    padding-bottom: 50px;
  }

  @media (--viewportLarge) {
    justify-content: center;
    padding-top: 60px;
  }
}

.sections {
  margin: 0;
  padding-top: 1px;
}

.section {
  overflow: auto;
}

.sectionContent {
  border-bottom: 1px solid #ff3f00;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  padding-bottom: 50px;

  @media (--viewportMedium) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
  }
}

.section:first-child .sectionContent {
  margin-top: 80px;

  @media (--viewportMedium) {
    margin-top: 100px;
  }
}

.section:last-child .sectionContent {
  border-bottom: none;
  margin-bottom: 0;
}

.sectionTitle {
  color: #0d2c54;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.sectionParagraph {
  color: #0d2c54;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin: 25px auto;

  @media (--viewportMedium) {
    margin: 50px auto;
  }
}

.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.teamMember {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  @media (--viewportMedium) {
    flex-basis: 40%;
  }
}

.teamMemberImage {
  width: 100%;
}

.teamMemberName {
  color: #0d2c54;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  margin-bottom: 0;
}

.teamMemberTitle {
  color: #0d2c54;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: 15px;
}

.teamMemberTagline {
  color: #0d2c54;
  font-size: 20px;
  font-style: italic;
  line-height: 32px;
  text-align: center;
  margin-top: 15px;
}