@import '../../marketplace.css';

.root {
  width: 100%;
}

.wrapper {
  background-color: var(--matterColorBright);
  box-shadow: 0 -10px 10px #efefef9e;
  padding: 40px 15px 40px 15px;

  @media (--viewportMedium) {
    padding: 30px 15px 30px 15px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (--viewportMedium) {
    margin: 0 auto;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 0 36px;
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
    padding: 0;
  }
}

/* Footer links */
.firstSection {
  /* Layout */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin-top: 0;
  margin-bottom: 30px;

  @media (--viewportMedium) {
    flex-basis: 15%;
  }
}

.listItem {
  min-height: 24px;
  margin-bottom: 6px;

  @media (--viewportMedium) {
    margin-bottom: 0;
  }
}

.listTitle {
  color: #0d2c54;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ff3f00;
}

.link {
  /* Font */
  @apply --marketplaceH4FontStyles;
  line-height: 20px;
  color: #0d2c54;
  transition: var(--transitionStyleButton);

  margin-top: 0;
  margin-bottom: 12px;

  &:hover {
    color: var(--marketplaceColor);
    text-decoration: none;
  }

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.middleSection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #dddddd;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

/* Desktop: logo and organization stuff */
.organization {
  text-align: center;

  @media (--viewportMedium) {
    text-align: left;
  }
}

.logoLink {
  display: block;
  margin-bottom: 14px;
}

.logo {
  object-fit: contain;
  object-position: left center;
  height: 27px;
}

.organizationDescription {
  @apply --marketplaceTinyFontStyles;
  color: #0d2c54;
}

.organizationCopyright {
  @apply --marketplaceTinyFontStyles;
  color: #0d2c54;
}

.middleSection .list {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 0;

  @media (--viewportMedium) {
    flex-direction: column;
    justify-content: normal;
    margin-top: 0px;
    margin-bottom: 30px;

  }
}

.lastSection {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;

  @media (--viewportMedium) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.copyrightLink {
  color: var(--matterColor);
  transition: var(--transitionStyleButton);

  &:hover {
    color: var(--marketplaceColor);
    text-decoration: none;
  }
}

.socialIcons {
  text-align: center;
}

.icon {
  width: 30px;
  margin-right: 20px;
  text-align: center;
}

.icon:last-child {
  margin-right: 0;
}
