@import '../../marketplace.css';

.root {
  & p {
    @apply --marketplaceH4FontStyles;
    text-align: inherit;
  }
  & h2 {
    /* Adjust heading margins to work with the reduced body font size */
    margin: 0px 0 19px 0;
    padding-top: 0px;
    text-align: center;
    color: #ff3f00;

    @media (--viewportMedium) {
      margin: 24px 0 24px 0;
    }
  }

  & span {
	  color: #ff3f00;
  }

  & .lastUpdated {
    @apply --marketplaceBodyFontStyles;
    margin-top: 0;
    margin-bottom: 25px;

    @media (--viewportMedium) {
      margin-top: 0;
      margin-bottom: 24px;
    }
  }
  & ul {
	  text-align: inherit;
	  list-style-type: disc;
	  padding-left: 25px;
  }
  & ul li {
	  line-height: 24px;
	  letter-spacing: 0;
  }

  & .dealButton a {
    @apply --marketplaceBodyFontStyles;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 22px;
    background-color: #0d2c54;
    padding: 4px 8px 6px 6px;
    color: #fff!important;
    border-radius: 4px;
    text-decoration: none;

    @media (--viewportMedium) {
      margin-top: 0;
      margin-bottom: 24px;
    }
  }
}

body {
  text-align: inherit;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding-left: 0px;
}

ol > li {
	font-size: 16px;
  display: table;
  counter-increment: item;
  padding-bottom: 10px;
}

ol > li:first-child {
  padding-top: 10px;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") ". ";
}

ol li ul li,
ul {
  font-size: 16px;
}

ol li ul li:first-child {
  padding-top: 10px;
}

/** DEALS PAGE **/

.container {
	width: 100%;
  margin-top: -100px;

  @media (max-width: 1022px) {
    margin-top: 0px;
  }
}


.readMore {
	padding-top: 10px;
	font-size: 14px;
  text-align: center;
}

.readMore a {
	font-size: 12px;
    color: #808080;
    text-decoration: none;
}

.readMore a:hover {
    color: #ff3f00;
    text-decoration: underline;
}

@media (max-width: 768px) {
  .boxes .boxLeft img,
  .boxes .boxRight img,
  .boxRight h3,
  .boxRight p,
  .boxRight a {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .boxRight h3,
  .boxLeft h3,
  .boxRight p {
	  padding-top: 10px;
	  margin-top: 10px;
  }
 }


/** BUTTONS **/

.containerButton {
	margin-top: 25px;
}

.btnGroup button {
  background-color: #ff3f00; /* Green background */
  text-transform: uppercase;
  border: 1px solid #ff3f00; /* Green border */
  border-radius: 4px;
  color: white; /* White text */
  padding: 15px 0px; /* Some padding */
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width: 340px;

}


.centerButtons {
   display: flex;
   justify-content: center;
}


/* Clear floats (clearfix hack) */
.btnGroup:after {
  content: "";
  clear: both;
  display: table;
}

.btnGroup button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btnGroup button:hover {
  background-color: #fff;
  color: #ff3f00;
  border: 1px solid #ff3f00; /* Green border */
}

.getInTouch {
	margin-top: 50px;
  margin-bottom: 50px;
}

.getInTouch h3 {
	text-align: center;
	padding-bottom: 5px;
	color: #ff3f00;
}

.getInTouch p {
	text-align: center;
	padding-bottom: 5px;
}

@media (max-width: 768px) {
  .getInTouch h3,
  .getInTouch p {
    float: none;
    text-align: left;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .btnGroup .centerButtons {
	  display: block;
	}

	.btnGroup button{
	  float:none;
	  padding: 10px 0px;
	  margin-left: 0;
	  width: 100%;
	  }
 }

/* TABLE */

table {
	font-family: 'Lato';
	border: 1px double #ff3f00;
	border-radius: 4px;
	margin-top: 25px;
}

thead {
	background-color: #ff3f00;
	line-height: 15px;
}

thead th {
	color: #fff!important;
}

thead tr {
	height: 5px!important;
}

tbody tr {
	height: 0!important;
}

th {
  padding: 4px 2px 4px 2px!important;
}

th:first-child {
  padding: 4px 2px 4px 20px!important;
}

tbody tr td {
  padding: 4px 2px 4px 2px!important;
}

@media (max-width: 768px) {
  thead th,
  tbody th,
  tbody tr th,
  tbody tr td {
    float: none;
    text-align: center!important;
    padding: 4px 2px 4px 2px!important;
  }
 }

/* STEPS */
.steps {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  @media (--viewportMedium) {
    width: 50%;
    margin-right: 40px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}
